html {
    background: #FFFFFF;
}

body {
    font-family: "typeka", sans-serif;
    letter-spacing: 0.4 em;
    font-weight: 400;
    font-style: normal;
    font-size: 32px;
    letter-spacing: .1rem;
    color: #000000;

    line-height: 32px;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    gap: 10px;

    position: relative;
    /* width: 322px;
    height: 871px;
    left: 479px; */
    top: 180px;

}

@media (max width: 390px) {
    body {
        fontsize: 20px;
        padding-top: 180px;
        orientation: portrait;
    }
    
}